#simple-chained-menu-elements-form  input.hidden {
  display:none;
}

#simple-chained-menu-elements-form div#parent,
#simple-chained-menu-elements-form div#ajax_child_div {
  display:inline-block;
}
#simple-chained-menu-elements-form label,
#simple-chained-menu-elements-form select {
  display:inline;
}

.page-cfront #zone-content .region-content {
   background: #b24b27 url(images/1_0_role1bkg.png) center bottom no-repeat;
}
form#simple-chained-menu-elements-form {
  text-align:center;
}
.page-cfront form#simple-chained-menu-elements-form {
  margin:40px;
}

form#simple-chained-menu-elements-form label{
  color:#e2ddd1;
  font-family: 'Rokkitt', serif;
  font-size: 30px;
  font-weight: 400;
}

#cfront-info {
  text-align:left;
}
#cfront-info h1.title{
  color:#e2ddd1;
  letter-spacing:0.05em;
  font-size:67px;
}
#simple-chained-menu-elements-form select {
    color:#2e2e2e;
    font-size:17px;
    -webkit-border-radius: 3px;
    border-color:#ccc;
    border-radius: 3px;
    border-size:1px;
    background: #fff url(images/dropdown-bg.png) -35px 0 no-repeat;
    margin:0 10px 6px 10px;
    width:250px;
}
#simple-chained-menu-elements-form .form-disabled select {
  background: #cccccc url(images/dropdown-disabled-bg.png) -30px center  no-repeat;
}
.ajax-progress {
  color:#f1dcd6;
  line-height:36px;
  left:50%;
  position:absolute;
  top:50%;
  width:160px;
  vertical-align:middle;
}
.ajax-progress .throbber {
  background: transparent url(images/throbber.gif) no-repeat;
  height:31px;
  width:31px;
}
